{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for vehicle in vehicles %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ vehicle.photo.url }}" class="card-img-top" alt="{{ vehicle.vehicle_model }}">
            <div class="card-body">
                <h5 class="card-title">{{ vehicle.vehicle_model }}</h5>
                <p class="card-text">Идентификатор: {{ vehicle.nickname }}</p>
                <p class="card-text">Состояние: {{ vehicle.status }}</p>
                <!-- Дополнительные поля из модели Price -->
                <p class="card-text">Площадка в час: {{ vehicle.vehicle_model.ground }}</p>
                <p class="card-text">Рельеф в час: {{ vehicle.vehicle_model.terrain }}</p>
                <p class="card-text">Тур в час: {{ vehicle.vehicle_model.tour }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
